{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div class="user-info">
                    <div class="form-field">
                        <input class="form-control" type="text" name="name" placeholder="Name.." required>
                    </div>
                    <div class="form-field">
                        <input type="email" class="form-control" name="email" placeholder="Email.." required>
                    </div>
                </div>
                <div class="" id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="pincode" placeholder="Zip code..">
                    </div>
                    <!-- <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="Zip code..">
                    </div> -->
                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
        </div>
        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Payment Options</small>
            <button type="button" id="make-payment">Payment Option</button>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2">
                    <p>{{item.product.name}}</p>
                </div>
                <div style="flex:1">
                    <p>₹{{item.product.price}}</p>
                </div>
                <div style="flex:1">
                    <p>x{{item.quantity}}</p>
                </div>

            </div>
            {% endfor %}
            <h5>Items: {{order.get_cart_items}}</h5>
            <h5>Total: ₹{{order.get_cart_total|floatformat:2}}</h5>
        </div>
    </div>
</div>
<script type="text/javascript">
    var total = `{{cartTotal|floatformat:2}}`
    if (user != "AnonymousUser")
        document.querySelector(".user-info").classList.add("d-none")
    var form = document.querySelector("#form")
    form.addEventListener("click", e => {
        e.preventDefault()
        console.log("Form submitted..");
        // alert("Form submitted..");
        // document.querySelector("#form-button").classList.remove("hidden")
        document.querySelector("#payment-info").classList.remove("hidden")

    })
    document.querySelector(`#make-payment`).addEventListener("click", e => {
        submitFormData()
    })
    
</script>
{% endblock content %}