{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<script>var products = `{{products}}`</script>
<div class="row gx-2">
    {% for product_name,products_data in products.items %}
    <div class="d-xl-none d-lg-none d-md-none col-1 ">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-10  store-product-box ">
        <div class="box-element product">
            <img class="thumbnail" src="{{products_data.0.imageURL}}">
            <h6 style="width: 100%; border-bottom: 1px solid; text-align: center;"><strong>{{product_name}}</strong>
            </h6>


            <div class="d-inline-block dropup-center dropup">

                <span onclick="updateQuantities()" class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <h4 style="display: inline; color: inherit !important; min-width: none;" iqMain{{product_name}}
                        class="product-price dropdown-item options" href="#">
                        <span class="iq{{products_data.0.id}} d-none iq " id="iq{{products_data.0.id}}"></span>
                        ₹{{products_data.0.price|floatformat:2}}-/{{products_data.0.weight_class}}
                    </h4>
                </span>

                <ul class="dropdown-menu">
                    {% for product in products_data %}
                    <h4 class="product-price dropdown-item options" data-product-name="{{product_name}}">
                        <span style="display: inline-block;" class="iq{{product.id}} iq d-none "
                            id="iq{{product.id}}"></span>
                        ₹{{product.price|floatformat:2}} - {{product.weight_class}}

                    </h4>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <span data-product="{{products_data.0.id}}" data-action="add" style="border-radius: 20px 0 0 20px;"
                    class=" btn btn-outline-success add-btn update-cart store-update-cart" id="{{product_name}}incr">
                    <span style="position: relative;top: -9px;">+</span>
                </span>
                <span data-product="{{products_data.0.id}}" data-action="remove" style="border-radius: 0 20px 20px 0;
            " class=" btn btn-outline-danger add-btn update-cart store-update-cart " id="{{product_name}}decr">
                    <span style="position: relative;top: -9px;">-</span>
                </span>
            </div>
        </div>
    </div>
    <div class="d-xl-none d-lg-none d-md-none col-sm-1  col-xs-1">
    </div> {% endfor %}
</div>


{% endblock content %}