body {
    background-color: #bf7c3f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: hsl(0, 0%, 30%);
}

h4 {
    font-size: 20px;
    position: relative;
}

* {
    color: #bf7c3f !important;
    z-index: 0;
}


.store-product-box {
    background-color: #3f1619;
    padding-left: 0;
    padding-right: 0;
    padding: 0;
    border: 1px solid #bf7c3f;

}



.thumbnail {
    --height: 200px;
    width: 100%;
    max-height: 250px;
    height: var(--height);
    border-radius: 0 0 40% 40%;
    margin-bottom: 5px;
}

.product {
    border-radius: 0 0 4px 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.bg-dark {
    background-color: #4f868c !important;
}

#cart-icon {
    width: 25px;
    display: inline-block;
    margin-left: 15px;
}

#cart-total {
    display: block;
    text-align: center;
    color: #3f1619 !important;
    background-color: #bf7c3f;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    font-size: small;
    transform: translate(-3px, -8px);
    transition: all 0.5s;
}



.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
    margin-top: 5px;
}

.btn {
    border-radius: 15px;
}

.row-image {
    width: 75%;
    max-width: 200px;
}

.form-field {
    width: 250px;
    display: inline-block;
    padding: 5px;
}

.box-element {
    background-color: #3f1619;
    border-radius: 4px;
    padding: 10px;

}

.cart-box {
    border-radius: 100px 0px 100px 0px;
    overflow: hidden;
}

.cart-row {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #bf7c3f;
    border-radius: 0px 0px 0px 0px;

}


.quantity {
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}

.quantity_val {
    position: relative;
    top: 7px;
}

/* .quantity_parent {
    position: absolute;
} */

.chg-quantity {
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: .1s;
    background-color: red;
}

.chg-quantity:hover {
    opacity: .6;
}


.hidden {
    display: none !important;
}


#cart_icon_fa {
    height: 24px;
    width: 24px;
}

.col-xs-0,
.col-sm-0,
.col-md-0,
.col-lg-0,
.col-xl-0 {
    flex: 0 0 0;
    max-width: 0;
    padding-right: 0;
    padding-left: 0;
}

.navbar {
    top: 0;
    position: sticky;
    z-index: 1;
}

#empty_cart {

    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.btn:hover {
    transform: scale(1.01);
    font-weight: 600;
    /* filter: invert(0.75); */
}

.btn.navlink {
    border: 1px transparent solid;
}

.btn.nav-link:hover {
    border-bottom: #bf7c3f 1px solid;
    border-top: #bf7c3f 1px solid;
    border-radius: 0;
}

.btn:active {
    transform: scale(0.95);
}

.btn {
    transition: all 0.5s;
}

.row-image:hover {
    transform: scale(1.05);

}

.row-image {
    transition: all 0.3s;
}

.store-update-cart {
    width: 50px;
    font-size: xx-large;
    height: 40px;
    /* border-radius: 20%; */
    padding: 1px;
    padding-bottom: 5px;

}

.navbar {
    background-color: #3f1619;
    color: #bf7c3f;
}

.ms-i {
    margin-left: auto;
}

.dropdown-menu>.product-price {
    /* padding-right: 0; */
}

.dropdown-menu>.product-price:hover,
.cart-buttons:hover {
    color: #3f1619 !important;
    background-color: #bf7c3f !important;
    cursor: pointer;


}

.dropdown-toggle {
    padding-right: 2px;
}

.dropdown-menu {
    min-width: 90%;
    background-color: #3f1619;
    padding: 0;
}

ul>h4>.iq {
    font-size: medium !important;
    color: inherit;
    position: absolute;
    background-color: #3f1619;
    left: -30px;
    min-width: 40px;
    text-align: center;
    bottom: 2px;
    top: 5px;
    padding-right: 2px;
    border-radius: 20% 0 0 20%;
    border: #bf7c3f 2px solid;
}

ul>h4>.iq:hover {
    color: #3f1619 !important;
    background-color: #bf7c3f !important;
    border-color: #3f1619 !important;
}

/* xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px */
/* Small devices (landscape phones, 576px and up) */
.container {
    /* padding: 0 !important;
    margin: 0 !important; */
}

.btn-outline-warning {
    border-color: #bf7c3f !important;
}

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .cart-box {
        border-radius: 75px 0px 75px 0px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) {
    .row.cart>div:nth-of-type(1) {
        width: 75%;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .row.cart>div {
        width: 75%;
    }

    .row>div:nth-of-type(1) {
        width: 50%;
    }

    .h-xl-125 {
        height: 125%;
    }

    .thumbnail {
        height: calc(var(--height)*1.25);
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}